/**
 * Beaba Custom CSS
 */

.header .overlay-layer{
    padding-left: 40%!important;
}

.overlay-layer-wrap {
    background: rgba(0, 0, 0, 0)!important;
}

/**
 * Botão do cabeçalho
 */

.standard-button {
    text-transform: inherit;    
}

.standard-button, .navbar-register-button {
    background-color: #cb4059;
    border-radius: 20px;
    font-family: Vanillaregular;
}

.standard-button:hover, .navbar-register-button:hover{
    background: #cb4059;
}

/**
 * Call to Action descrição do exemplar
 */

.call-to-action h2 {
    height: 193px;
}

img.img-left {
    height: 300px;
    position: absolute;
    left: 0px;
}

img.img-right {
    height: 300px;
    position: absolute;
    right: 0px;
}

.section-overlay-layer {
    padding-top: 100px;
}

.font-title img{
    max-height:80px;
}

.call-to-action .section-overlay-layer {
    background: none;
}

.aba-guarana {
    padding: 0 10% 0 10%;
    text-align: center;
}

.aba-image {
    padding-bottom: 60px;
}

.aba-guarana img{
    max-height: 380px;
}

.services {
    background-color: #d6e04d;
}

.border-bottom-hover:hover {
    border-bottom-color: #145742;
}